body{
    max-width:1190px;
    margin:auto;
    border:2px lightgrey solid;
    display: flex;
    font-family: 'Manrope', sans-serif;
    }

/*----------Partie gauche----------*/

aside{
    background-color: rgba(255,224,130 ,1);
    flex-basis:45%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    }

    .hobbies{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    }

aside h3{
    background-color:rgba(38,50,56 ,1);
    padding:5px;
    color:rgba(255,224,130 ,1);
    text-align: center;
    }

aside h4{
    padding-left: 20px;
    }

aside p{
    text-align:justify;
    
    padding:0 20px 0 20px;
    color:rgba(38,50,56 ,1);
    }

.loisirs i{
    border:2px rgba(38,50,56 ,1) solid;
    border-radius: 100%;
    color:rgba(38,50,56 ,1);
    padding:10px;
    font-size: xx-large;
    }

.loisirs{
    display: flex;
    justify-content: space-evenly;
    }

img{
    border:2px rgba(255,179,0 ,1) solid;
    border-radius: 100%;
    margin-top:10px;
    }

.photo{
    display: flex;
    justify-content: center;
    }
    
a{
    padding: 0 10px 0 20px;
    color: rgba(38,50,56 ,1);
    text-decoration: none;
    }

a:hover{
    color: rgba(250,250,250 ,1);
}

.contact h4{
    margin-bottom: 0;
    }

.contact p{
    margin-top:0;    
    }

/*-----------Partie droite-----------*/

header{
    display: flex;
    flex-direction: column;
      margin-bottom: 60px;
    }

h1 span{
    color:rgba(255,224,130 ,1);
    }

h2 span{
    border-bottom: 2px rgba(255,224,130 ,1) solid;;
    }

h1{
    font-size:45px ;
    margin-bottom: 0;
    }

h2{
    font-size:35px;
    margin-top:10px;
    }

.titre {
    border-bottom:2px rgba(255,224,130 ,1) solid;
    margin-bottom: 20px;
    }

.titre i{
    color: rgba(255,224,130 ,1);
    margin-right:20px;
    font-size:xx-large;
    }

.titre h3{
     font-size: 20px;
    }

time i{
    color:rgba(255,224,130 ,1);
    font-size:large;
    }

.date i{
    font-size: x-large;
}

.bloc h4, h5{
    color:rgba(38,50,56 ,1);
    }

.recommandation{
    display: flex;
    justify-content: space-between;
    }

.recommandation .contact{
    flex-basis:50%;
}

.recommandation a{
    color:rgba(38,50,56 ,1)
    }

.texte h5{
    font-size: 15px;
    }

.bloc{
    display:flex;
    align-items:baseline;
    }

time{
    flex-basis:30%;
    }

time i{
    margin-right:10px;
    }

.texte{
    flex-basis:70%;
    }

main{
    padding:0 25px 0 55px;
    }

.texte p{
    text-align: justify;
    font-size: 14px;
    }

/*----------Responsive----------*/

@media screen and (min-width:769px){
    .img img{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .photo { display:none;}
    body{display:flex;
        flex-direction:column;}
    main{order:1;
        padding:0}
    aside{order:2}
    .img{background-color:rgba(255,224,130 ,1);
        display: flex;
        justify-content: center;}
    .img img{margin-bottom:10px}
    header h1, h2{display: flex;}
    .titre {display:flex;
            justify-content:center;}
    h1, h2{display:flex;
           justify-content: center;}
    .texte{display: flex;
            flex-direction: column;
            align-items: center;}
    .texte h4{margin-bottom:0;
        margin-top:0}
    .texte h5{margin-top:10px;}
    .contact {text-align: center;}
    .contact p {text-align:center;}
    .bloc{flex-direction: column;
            align-items: center;}
    time{margin:20px 0 20px 0;}
    .texte p{ padding:0 20px 0 20px}
    }

@media screen and (max-width:576px){
    h1{font-size: xx-large;}
    h2{font-size: large;}
    .titre h3{font-size:medium;}
    .recommandation{flex-direction: column;}
    }





   



  
    
