body{
    max-width:1190px;
    margin:auto;
    border:2px lightgrey solid;
    display: flex;
    font-family: 'Manrope', sans-serif;
    }

/*----------Partie gauche----------*/

aside{
    background-color: rgba(255,224,130 ,1);
    flex-basis:40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    }

    .hobbies{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 10px;
    }

aside h3{
    background-color: black;
    color:rgba(255,224,130 ,1);
    text-align: center;
    }

aside h4{
    padding-left: 20px;
    }

aside p{
    text-align: justify;
    padding:0 20px 0 20px;
    }

.loisirs i{
    border:2px black solid;
    border-radius: 100%;
    padding:10px;
    font-size: xx-large;
    }

.loisirs{
    display: flex;
    justify-content: space-evenly;
    }

img{
    border:2px rgba(255,179,0 ,1) solid;
    border-radius: 100%;
    margin-top:10px;
    }

.photo{
    display: flex;
    justify-content: center;
    }
    
a{
    padding-left: 20px;
    color: black;
    }

.contact h4{
    margin-bottom: 0;
    }

.contact p{
    margin-top:0;
    }

/*-----------Partie droite-----------*/

header{
    display: flex;
    flex-direction: column;
      margin-bottom: 60px;
    }

h1 span{
    color:rgba(255,224,130 ,1);
    }

h2 span{
    border-bottom: 2px rgba(255,224,130 ,1) solid;;
    }

h1{
    font-size:45px ;
    margin-bottom: 0;
    }

h2{
    font-size:35px;
    margin-top:10px;
    }

.titre {
    border-bottom:2px rgba(255,224,130 ,1) solid;
    margin-bottom: 20px;
    }

.titre i{
    color: rgba(255,224,130 ,1);
    margin-right:20px;
    font-size:xx-large;
    }

.titre h3{
     font-size: 20px;
    }

time i{
    color:rgba(255,224,130 ,1);
    font-size:large;
    }

.recommandation{
    display: flex;
    justify-content: space-around;
    }

.texte h5{
    font-size: 15px;
}

.bloc{
    display:flex;
    align-items:baseline;
}

time{
    flex-basis:30%;
}

time i{
    margin-right:10px;
}

.texte{
    flex-basis:70%;
}

main{
    padding:0 25px 0 30px;
}

.texte p{
    text-align: justify;
}

/*----------Responsive----------*/

@media screen and (min-width:769px){
    .img img{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .photo { display:none;}
    body{display:flex;
        flex-direction:column;}
    main{order:1;}
    aside{order:2}
    .img{background-color:rgba(255,224,130 ,1);
        display: flex;
        justify-content: center;}
    .img img{margin-bottom:10px}
    header h1, h2{display: flex;}
    header, footer, .bloc{
        margin-left:0px;}
    .titre {display:flex;
            justify-content:center;}
    h1, h2{display:flex;
           justify-content: center;}
    .conteneur{flex-direction:column;
            align-items: center;}
    .texte{display: flex;
            flex-direction: column;
            align-items: center;}
    .conteneur p{padding-left:25px;}
    .texte h4{margin-bottom:0;
        margin-top:0}
    .texte h5{margin-top:10px;}
    .contact {text-align: center;}
    .contact p {text-align:center;}
    }


@media all and (min-width:320px) and (max-width:425px) {
    h1{ font-size: x-large;}
    h2{ font-size:large;
            margin:5px 2px 15px 2px;
            }
    .titre h3{font-size: medium;}
    .texte h4,h5{font-size:medium;}
    
    .texte h5{margin-top:10px;}
    .reference{flex-direction: column;
               align-items: center;}
    } 

    @media all and (min-width:425px) and (max-width:767px) {
        h1{font-size: xx-large;}
        h2{font-size:x-large;}
    }



  
    
